# **<center>Geographical Information Systems</center>**
### **<center>Final Project - Part B</center>**

### Importing libraries

In [1]:
import pandas as pd
import geopandas as gpd
import numpy as np

import helper
import calendar

In [2]:
import os, sys

import matplotlib.pyplot as plt
import matplotlib.gridspec as gridspec
from matplotlib import style

style.use('ggplot')

PLT_FIG_WIDTH = 4.487
PLT_FIG_HEIGHT = PLT_FIG_WIDTH / 1.618

In [3]:
sys.path.append(os.path.join(os.path.expanduser('~'), 'Documents', 'DataStories-UniPi', 'ST_Visions'))
import st_visualizer
import express as viz_express
import geom_helper as viz_helper

import bokeh.palettes as bokeh_palettes

### Connecting with PostgreSQL database and fetching our data

In [38]:
import psycopg2
import psycopg2.extras
con = psycopg2.connect(database="database_GIS", user="postgres", password="polifolio68", host="localhost", port=5432)

# fetching ais_dataset
ais_dataset = "SELECT * FROM ais_dataset;"
df = gpd.GeoDataFrame.from_postgis(ais_dataset, con, geom_col="point")

# fetching ais_routes
# df_routes = "SELECT * FROM ais_routes;"
# gdf_routes = gpd.GeoDataFrame.from_postgis(df_routes, con, geom_col="routes")

# fetching attica_points
attica_coordinates = "SELECT * FROM attica_points;"
attica_points = gpd.GeoDataFrame.from_postgis(attica_coordinates, con, geom_col="geom")

# fetching salamina_points
salamina_coordinates = "SELECT * FROM salamina_points;"
salamina_points = gpd.GeoDataFrame.from_postgis(salamina_coordinates, con, geom_col="geom")

# fetching aegina_points
aegina_coordinates = "SELECT * FROM aegina_points;"
aegina_points = gpd.GeoDataFrame.from_postgis(aegina_coordinates, con, geom_col="geom")

# fetching agistri_points
agistri_coordinates = "SELECT * FROM agistri_points;"
agistri_points = gpd.GeoDataFrame.from_postgis(agistri_coordinates, con, geom_col="geom")


con.close()

In [39]:
df = df.drop(['id'], axis=1)

# converting data types of columns
df[["timestamp","mmsi"]] = df[["timestamp","mmsi"]].apply(pd.to_numeric)
df[["lon", "lat","heading","speed","course"]] = df[["lon", "lat","heading","speed","course"]].astype(float)
attica_points[["lon", "lat"]] = attica_points[["lon", "lat"]].astype(float)
salamina_points[["lon", "lat"]] = salamina_points[["lon", "lat"]].astype(float)
aegina_points[["lon", "lat"]] = aegina_points[["lon", "lat"]].astype(float)
agistri_points[["lon", "lat"]] = agistri_points[["lon", "lat"]].astype(float)

In [ ]:
# df.dtypes
# attica_points.dtypes
# salamina_points.dtypes
# aegina_points.dtypes
# agistri_points.dtypes

# <center>Exploratory Statistical Analysis</center>

### Visualize it on the map using ST_Visions

In [ ]:
st_viz = st_visualizer.st_visualizer()
st_viz.set_data(df.head(30000))

viz_express.plot_points_on_map(st_viz, tools=['lasso_select'])
st_viz.add_temporal_filter(temporal_name='timestamp', temporal_unit='ms', callback_policy='value_throttled', step_ms=5*60*10**3, title='Temporal Horizon')
st_viz.show_figures(notebook=True, notebook_url='http://localhost:8889')

  * ### Number of vessels & records (AIS signals);

In [ ]:
len(df.mmsi.unique())

In [ ]:
len(df)

  * ### To get the average number of AIS signals per day

In [ ]:
df.groupby([pd.to_datetime(df.timestamp,unit="ms").dt.date]).apply(len)

  * ### To get the number of records (AIS signals) per vessel

In [ ]:
df.groupby('mmsi').apply(len)

  * ### To get the (mean) number of records (AIS signals) per vessel at daily basis

In [ ]:
tmp = df.groupby(["mmsi", pd.to_datetime(df.timestamp,unit="ms").dt.date]).apply(len)
tmp.groupby('mmsi').apply(lambda x: x.sum()/len(x))

  * ### To get the number of records (AIS signals) per weekday

In [ ]:
recs_per_dayname = df.groupby([pd.to_datetime(df.timestamp, unit="ms").dt.date]).apply(len).to_frame().reset_index()

In [ ]:
recs_per_dayname.loc[:, 'day_name'] = pd.to_datetime(recs_per_dayname.timestamp).dt.day_name()

In [ ]:
recs_per_dayname

Now, we have exactly what we want, but something is off (spoiler: the days are not sorted!)

In [ ]:
recs_per_dayname.sort_values('day_name')

Sorting does not work. Or it works perfectly? Pandas does not understand categorical sorting; its default behaviour is to either sort *lexicographically*, *numerically*, or **categorically** depending on the data.

In [ ]:
recs_per_dayname.loc[:, 'day_name'] = pd.Categorical(recs_per_dayname.day_name, categories=list(calendar.day_name), ordered=True)

In [ ]:
recs_per_dayname

In [ ]:
recs_per_dayname.sort_values('day_name')

In [ ]:
recs_per_dayname.day_name

## Exploratory Statistical Analysis (cont.)

  * ### Plot the distribution of the number of AIS signals per vessel (Python3/Matplotlib code)

In [ ]:
number_of_records_per_vessel = df.groupby('mmsi').apply(len)

out = pd.cut(number_of_records_per_vessel, [0, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096, 8192, 16384, number_of_records_per_vessel.max()]) 
ax = out.value_counts(sort=False).plot.bar(figsize=(PLT_FIG_WIDTH,PLT_FIG_HEIGHT), fontsize=8, width=0.75, cmap='tab20', rot=40)


plt.ticklabel_format(style='sci', axis='y', scilimits=(0,0))
plt.suptitle(r'Distribution of the number of AIS signals per vessel', fontsize=8, y=1)
plt.xlabel(r'#AIS signals', fontsize=8)
plt.ylabel(r'#vessels', fontsize=8)

plt.savefig(os.path.join('.', 'png', 'number_of_records_per_vessel.png'), dpi=300, bbox_inches='tight')

* ### Distribution of the number of records (AIS activity) per vessel at daily basis;

In [ ]:
number_of_records_per_vessel_per_day = df.groupby([df.mmsi, pd.to_datetime(df.timestamp, unit='ms').dt.date]).apply(len)
number_of_records_per_vessel_per_day = number_of_records_per_vessel_per_day.groupby('mmsi').apply(lambda x: x.sum()/len(x))

out = pd.cut(number_of_records_per_vessel_per_day, [0, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096, number_of_records_per_vessel_per_day.max()]) 
ax = out.value_counts(sort=False).plot.bar(figsize=(PLT_FIG_WIDTH,PLT_FIG_HEIGHT), fontsize=8, width=0.75, cmap='tab20', rot=30)

plt.ticklabel_format(style='sci', axis='y', scilimits=(0,0))
plt.suptitle(r'Distribution of AIS activity per vessel at daily basis', fontsize=8, y=1)
plt.xlabel(r'#AIS signals', fontsize=8)
plt.ylabel(r'#vessels', fontsize=8)

plt.savefig(os.path.join('.', 'png', 'AIS_Signals_per_vessel_per_day.png'), dpi=300, bbox_inches='tight')

  * ### To plot the distribution of the number of AIS signals per weekday

In [ ]:
no_of_records_per_day = df.groupby([pd.to_datetime(df.timestamp, unit="ms").dt.date]).apply(len).to_frame().reset_index()
no_of_records_per_day.loc[:, 'day_name'] = pd.to_datetime(no_of_records_per_day.timestamp).dt.day_name()
no_of_records_per_day.loc[:, 'day_name'] = pd.Categorical(no_of_records_per_day.day_name, categories=list(calendar.day_name), ordered=True)
no_of_records_per_day.sort_values('day_name', inplace=True)

no_of_records_per_day.plot.bar(cmap='tab20', x='day_name', figsize=(PLT_FIG_WIDTH,PLT_FIG_HEIGHT), fontsize=8, width=0.75, legend=False, rot=30)

plt.ticklabel_format(style='sci', axis='y', scilimits=(0,0))
plt.suptitle(r'AIS activity per weekday', fontsize=8, y=1)
plt.xlabel(r'', fontsize=8)
plt.ylabel(r'#records', fontsize=8)

plt.savefig(os.path.join('.', 'png', 'AIS_Signals_per_Weekday.png'), dpi=300, bbox_inches='tight')

# <center> Data Preprocessing </center>

## 2.1 Data cleansing

### General cleansing on ais_dataset

In [9]:
def preprocessing_pipeline(df):
    # Converting time from msec. to sec.
    df.loc[:, 'timestamp_sec'] = df.timestamp/10**3

    # Remove duplicate points
    df.drop_duplicates(subset=['timestamp','mmsi'], inplace=True)

    print ('Step 1. Calculating Speed')
    # Calculate speed
    calc_velocity = df.copy().groupby('mmsi', group_keys=False).apply(lambda gdf: helper.calculate_velocity(gdf, spd_column='speed', ts_column='timestamp_sec'))['velocity']

    print ('Step 2. Calculating Bearing')
    # Calculate bearing
    calc_heading = df.copy().groupby('mmsi', group_keys=False).apply(lambda gdf: helper.calculate_bearing(gdf))['bearing']

    print ('Step 3. Concatenating Results')
    df.loc[:, 'velocity'] = calc_velocity
    df.loc[:, 'bearing'] = calc_heading

    print ('Step 4. Calculating Acceleration')
    # Calculate acceleration
    df = df.groupby('mmsi', group_keys=False).apply(lambda gdf: helper.calculate_acceleration(gdf, ts_column='timestamp_sec'))

    # Drop NaN values (in case they exist)
    df.dropna(subset=['velocity', 'bearing', 'acceleration'], inplace=True)
    
    return df

In [10]:
%%time
df = preprocessing_pipeline(df)

Step 1. Calculating Speed
Step 2. Calculating Bearing
Step 3. Concatenating Results
Step 4. Calculating Acceleration
Wall time: 12min 7s

### Cleansing depending on distance from papei antenna

In [ ]:
from math import radians, cos, sin, asin, sqrt

def haversine(lon1, lat1, lon2, lat2):
    """
    Calculate the great circle distance between two points 
    on the earth (specified in decimal degrees)
    """
    # convert decimal degrees to radians 
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])

    # haversine formula 
    dlon = lon2 - lon1 
    dlat = lat2 - lat1 
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a)) 
    r = 6371 # Radius of earth in kilometers. Use 3956 for miles
    return c * r

In [ ]:
from shapely.geometry import Point
point_Papei = Point(37.9414940, 23.652832)
point_random = Point(38.000074, 23.743337)
# haversine(37.9414940, 23.652832 , df.loc[:, 'lat'], df.loc[:, 'lon'])

# pd.set_option('display.max_rows', 500)
pd.set_option('display.max_rows', None)

# empDfObj = pd.DataFrame(df, columns=['lon', 'lat'])
df_test = df[['lon','lat']]


i = 0
for element in df.lon:
#     print(haversine(37.9414940, 23.652832 , df.loc[i, 'lat'], df.loc[i, 'lon']))
    df.loc[:, 'distance_from_papei'] = haversine(37.9414940, 23.652832 , df.loc[i, 'lat'], df.loc[i, 'lon'])
    i += 1

In [ ]:
haversine(37.9414940, 23.652832, 38.031918, 23.529105)

In [ ]:
vessel_traj_gdf.loc[:, 'distance_from_prev'] = vessel_traj_gdf.iloc[:-1].apply(lambda l: helper.haversine((l.geom.x, l.geom.y), (vessel_traj_gdf.iloc[l.name+1].geom.x, vessel_traj_gdf.iloc[l.name+1].geom.y,))*1000, axis=1)

In [ ]:
df.loc[:, 'distance_from_papei'] = df.iloc[:-1].apply(lambda l: helper.haversine((37.9414940, 23.652832), (df.lat, df.lon))*1000, axis=1)

In [ ]:
haversine(37.9414940, 23.652832, 37.944813, 23.614868)

### Regions' outline datasets cleansing

In [214]:
#κρατάμε μόνο το νότιο τμήμα της αττικ΄ής που μας ενδιαφέρει
attica_points_new = attica_points.loc[attica_points.lon < 23.7820177].copy()
attica_points_new = attica_points_new.loc[attica_points_new.lon > 23.1789667]
attica_points_new = attica_points_new.loc[attica_points_new.lat < 38.0463491]
attica_points_new = attica_points_new.loc[attica_points_new.lat > 37.8118874]

In [45]:
attica_points_new   #έμειναν 10192 εγγραφές από τις 27923

             lon        lat                       geom     id
40     23.180479  37.952114  POINT (23.18048 37.95211)     40
41     23.181643  37.952396  POINT (23.18164 37.95240)     41
42     23.182833  37.952123  POINT (23.18283 37.95212)     42
43     23.183436  37.951927  POINT (23.18344 37.95193)     43
44     23.183970  37.951853  POINT (23.18397 37.95185)     44
...          ...        ...                        ...    ...
10862  23.781708  37.811937  POINT (23.78171 37.81194)  10862
10863  23.781798  37.811927  POINT (23.78180 37.81193)  10863
10864  23.781806  37.811975  POINT (23.78181 37.81197)  10864
10865  23.781855  37.812002  POINT (23.78186 37.81200)  10865
10866  23.781929  37.811957  POINT (23.78193 37.81196)  10866

[10192 rows x 4 columns]

In [215]:
#Sort by id
attica_points_new = attica_points_new.sort_values('id').reset_index(drop=True)
#Calculate distance from previous (in meters)
attica_points_new.loc[:, 'distance_from_prev'] = attica_points_new.iloc[:-1].apply(lambda l: helper.haversine((l.geom.x, l.geom.y), (attica_points_new.iloc[l.name+1].geom.x, attica_points_new.iloc[l.name+1].geom.y,))*1000, axis=1)

In [216]:
#Sort by id
salamina_points_new = salamina_points.sort_values('id').reset_index(drop=True)
#Calculate distance from previous (in meters)
salamina_points_new.loc[:, 'distance_from_prev'] = salamina_points_new.iloc[:-1].apply(lambda l: helper.haversine((l.geom.x, l.geom.y), (salamina_points_new.iloc[l.name+1].geom.x, salamina_points_new.iloc[l.name+1].geom.y,))*1000, axis=1)

In [217]:
#Sort by id
aegina_points_new = aegina_points.sort_values('id').reset_index(drop=True)
#Calculate distance from previous (in meters)
aegina_points_new.loc[:, 'distance_from_prev'] = aegina_points_new.iloc[:-1].apply(lambda l: helper.haversine((l.geom.x, l.geom.y), (aegina_points_new.iloc[l.name+1].geom.x, aegina_points_new.iloc[l.name+1].geom.y,))*1000, axis=1)

In [218]:
#Sort by id
agistri_points_new = agistri_points.sort_values('id').reset_index(drop=True)
#Calculate distance from previous (in meters)
agistri_points_new.loc[:, 'distance_from_prev'] = agistri_points_new.iloc[:-1].apply(lambda l: helper.haversine((l.geom.x, l.geom.y), (agistri_points_new.iloc[l.name+1].geom.x, agistri_points_new.iloc[l.name+1].geom.y,))*1000, axis=1)

In [ ]:
#βλέπουμε πόσες εγγραφές θα κρατήσουμε από κάθε περιοχή

In [182]:
len(attica_points_new.loc[attica_points_new.distance_from_prev > 100])

324

In [219]:
len(salamina_points_new.loc[salamina_points_new.distance_from_prev > 100])

165

In [220]:
len(aegina_points_new.loc[aegina_points_new.distance_from_prev > 65])

139

In [221]:
len(agistri_points_new.loc[agistri_points_new.distance_from_prev > 50])

62

In [ ]:
#τελικά κρατάμε τις εγγραφές που θέλουμε

In [222]:
attica_points_new = attica_points_new.loc[attica_points_new.distance_from_prev > 100]

In [223]:
salamina_points_new = salamina_points_new.loc[salamina_points_new.distance_from_prev > 100]

In [224]:
aegina_points_new = aegina_points_new.loc[aegina_points_new.distance_from_prev > 65]

In [225]:
agistri_points_new = agistri_points_new.loc[agistri_points_new.distance_from_prev > 50]

In [107]:
attica_points_new.reset_index()
# salamina_points_new.reset_index()
# aegina_points_new.reset_index()
# agistri_points_new.reset_index()

,index,lon,lat,geom,id,distance_from_prev
0,0,23.180479,37.952114,POINT (23.18048 37.95211),40,106.774472
1,1,23.181643,37.952396,POINT (23.18164 37.95240),41,108.641390
2,8,23.184991,37.951969,POINT (23.18499 37.95197),48,113.602151
3,9,23.186074,37.952530,POINT (23.18607 37.95253),49,134.112120
4,46,23.197402,37.954173,POINT (23.19740 37.95417),86,103.327546
...,...,...,...,...,...,...
319,9697,23.750071,37.849567,POINT (23.75007 37.84957),9738,149.634159
320,9698,23.751455,37.848782,POINT (23.75145 37.84878),9739,157.077467
321,9857,23.768357,37.833501,POINT (23.76836 37.83350),9898,121.047710
322,9874,23.770304,37.830143,POINT (23.77030 37.83014),9915,174.020344
323,10164,23.770795,37.811928,POINT (23.77079 37.81193),10205,385.458788

### Saving the Dataset

In [226]:
attica_points_new = attica_points_new.drop(attica_points_new.distance_from_prev.name, axis=1)

In [227]:
salamina_points_new = salamina_points_new.drop(salamina_points_new.distance_from_prev.name, axis=1)

In [228]:
aegina_points_new = aegina_points_new.drop(aegina_points_new.distance_from_prev.name, axis=1)

In [229]:
agistri_points_new = agistri_points_new.drop(agistri_points_new.distance_from_prev.name, axis=1)

### Saving to CSV

In [230]:
attica_points_new.drop(attica_points_new.geometry.name, axis=1).to_csv('./attica_points_clean.csv', header=True, index=False)

In [231]:
salamina_points_new.drop(salamina_points_new.geometry.name, axis=1).to_csv('./salamina_points_clean.csv', header=True, index=False)

In [232]:
aegina_points_new.drop(aegina_points_new.geometry.name, axis=1).to_csv('./aegina_points_clean.csv', header=True, index=False)

In [233]:
agistri_points_new.drop(agistri_points_new.geometry.name, axis=1).to_csv('./agistri_points_clean.csv', header=True, index=False)

### Saving to Postgres table

In [ ]:
from geoalchemy2 import Geometry, WKTElement
from sqlalchemy import create_engine
import psycopg2


engine = create_engine('postgresql://postgres:polifolio68@localhost:5432/database_GIS')



postgreSQLConnection    = engine.connect();

postgreSQLTable_Attica         = "attica_points";
postgreSQLTable_Salamina       = "salamina_points";
postgreSQLTable_Aegina         = "aegina_points";
postgreSQLTable_Agistri        = "agistri_points";

 

try:
    geodataframe_Attica    = attica_points_new.to_postgis(postgreSQLTable_Attica, engine, if_exists='replace', index=False, 
                         dtype={'geom': Geometry('POINT', srid= 2100)})
    geodataframe_Salamina    = salamina_points_new.to_postgis(postgreSQLTable_Salamina, engine, if_exists='replace', index=False, 
                         dtype={'geom': Geometry('POINT', srid= 2100)})
    geodataframe_Aegina    = aegina_points_new.to_postgis(postgreSQLTable_Aegina, engine, if_exists='replace', index=False, 
                         dtype={'geom': Geometry('POINT', srid= 2100)})
    geodataframe_Agistri    = agistri_points_new.to_postgis(postgreSQLTable_Agistri, engine, if_exists='replace', index=False, 
                         dtype={'geom': Geometry('POINT', srid= 2100)})

except ValueError as vx:

    print(vx)

except Exception as ex:  

    print(ex)

else:

    print("PostgreSQL Table %s has been created successfully."%postgreSQLTable_Attica);
    print("PostgreSQL Table %s has been created successfully."%postgreSQLTable_Salamina);
    print("PostgreSQL Table %s has been created successfully."%postgreSQLTable_Aegina);
    print("PostgreSQL Table %s has been created successfully."%postgreSQLTable_Agistri);

finally:

    postgreSQLConnection.close();

### 2.2 Sampling Rate

In [ ]:
df_sampling_rate = df[['timestamp', 'mmsi']].sort_values(by=['mmsi','timestamp']).reset_index(drop=True)
df_sampling_rate.head(50) 
df_sampling_rate.timestamp.diff()
df_sampling_rate.timestamp.diff().mean()
df_sampling_rate.timestamp.diff().plot()

### 2.3 Speed

In [ ]:
# για κάποιο τυχαίο mmsi κάθε φορά

df_speed_sequence = df[df['mmsi'] == 240806000].reset_index(drop=True)
df_speed_sequence.speed.plot()

In [ ]:
# μετά τον καθαρισμό του dataset

# χρησιμοποιώντας τη στήλη velocity που δημιουργείται μέσω της helper προκύπτουν 3296511  +++++ 
df_new = df.loc[df.velocity < 40].copy()
df_new

# χρησιμοποιώντας τη στήλη speed προκύπτουν 3299245  ++++ 
df_new2 = df.loc[df.speed < 40].copy()
df_new2

### 2.4 R-tree

In [ ]:
%%time
from geopandas import GeoDataFrame as gdf
sindex = df.geom.sindex

### Saving the cleaned ais dataset

### Saving to csv

In [16]:
df_new.drop(df_new.geometry.name, axis=1).to_csv('./ais_dataset_clean.csv', header=True, index=False)

### Saving to postgres table

In [ ]:
from geoalchemy2 import Geometry, WKTElement
from sqlalchemy import create_engine
import psycopg2


engine = create_engine('postgresql://postgres:polifolio68@localhost:5432/database_GIS')


postgreSQLConnection    = engine.connect();

postgreSQLTable         = "ais_dataset";


try:
    geodataframe    = df_new.to_postgis(postgreSQLTable, engine, if_exists='replace', index=False, 
                         dtype={'point': Geometry('POINT', srid= 2100)})
except ValueError as vx:

    print(vx)

except Exception as ex:  

    print(ex)

else:

    print("PostgreSQL Table %s has been created successfully."%postgreSQLTable);
    
finally:

    postgreSQLConnection.close();

# <center>Statistics after pre-proccessing</center>

  * ### To plot the distribution of the vessels' speed

In [ ]:
out = pd.cut(df.velocity, [0, 10, 20, 30, 40, 50, 60, np.round(df.velocity.max()), np.round(df.velocity.max())+2])
ax = out.value_counts(sort=False).plot.area(figsize=(PLT_FIG_WIDTH,PLT_FIG_HEIGHT), fontsize=8, cmap='tab20', rot=0)
ax.set_xticklabels([''] + out.cat.categories.left.values.astype(int).tolist() + [''])

plt.suptitle(r'Vessel speed distribution', fontsize=8, y=1)
plt.xlabel(r'speed (knots)', fontsize=8)
plt.ylabel(r'#records', fontsize=8)

plt.savefig(os.path.join('.', 'png', 'Vessel_Velocity_Distribution_V2.png'), dpi=300, bbox_inches='tight')

  * ### To plot the distribution of the vessels' acceleration

In [ ]:
no_of_bins=[-2000, -10, -2, -0.5, -0.25, -0.1, 0, 0.1, 0.25, 0.5, 2, 10, 2000] 

out = pd.cut(df.acceleration, no_of_bins)
ax = out.value_counts(sort=False).plot.area(figsize=(PLT_FIG_WIDTH,PLT_FIG_HEIGHT), fontsize=8, cmap='tab20', rot=45)

plt.ticklabel_format(style='sci', axis='y', scilimits=(0,0))
plt.suptitle(r'Vessel acceleration distribution', fontsize=8)
plt.xlabel(r'acceleration (knots/s)', fontsize=8)
plt.ylabel(r'#records', fontsize=8)

plt.savefig(os.path.join('.', 'png', 'Vessel_Acceleration_Distribution.png'), dpi=300, bbox_inches='tight')

  * ### To plot the distribution of the vessels' bearing

In [ ]:
PLT_FIG_WIDTH = 4
PLT_FIG_HEIGHT = PLT_FIG_WIDTH / 1.618
plt.rcParams.update({'font.size': 8})
plt.rcParams["figure.figsize"] = [PLT_FIG_WIDTH, PLT_FIG_HEIGHT]

bins_number = 24  # the [0, 360) interval will be subdivided into this number of equal bins
degree_intervals = 15

fig, ax = plt.subplots()
ax, lines, labels = helper.create_radial_chart(ax, df, bins_number, degree_intervals)

ax.legend([r'#records (x$10^6$)'], frameon=False, fancybox=False, shadow=False, loc='lower center', bbox_to_anchor=(0.5, -0.25))
plt.savefig(os.path.join('.', 'png', 'Vessel_Course_Distribution_V8.png'), dpi=300, bbox_inches='tight')

plt.show()

### _Checkpoint_: Save Calculated Sensor-Based Data

In [11]:
df.drop(['geom'], axis=1).to_csv('ais_dataset_pp.csv', header=True, index=False)

In [12]:
df = helper.getGeoDataFrame_v2(pd.read_csv('ais_dataset_pp.csv'), crs='epsg:4326')

### Visualize Spatial Outliers

In [ ]:
vessel_traj_gdf = df.loc[(df.mmsi == 237024500)].sort_values('timestamp').reset_index(drop=True)

vessel_traj_gdf.loc[:, 'distance_from_prev'] = vessel_traj_gdf.iloc[:-1].apply(lambda l: helper.haversine((l.geom.x, l.geom.y), (vessel_traj_gdf.iloc[l.name+1].geom.x, vessel_traj_gdf.iloc[l.name+1].geom.y,))*1000, axis=1)
vessel_traj_gdf.loc[:, 'temporal_difference_from_prev'] = vessel_traj_gdf.timestamp_sec.diff().abs()

In [ ]:
curr_pts = np.array(vessel_traj_gdf.loc[vessel_traj_gdf.velocity >= 40].index)
prev_pts = vessel_traj_gdf.loc[vessel_traj_gdf.velocity >= 40].index - 1
next_pts = vessel_traj_gdf.loc[vessel_traj_gdf.velocity >= 40].index + 1

sub_traj_of_interest = vessel_traj_gdf.iloc[np.sort(np.concatenate((prev_pts, next_pts, 
                                                                    vessel_traj_gdf.loc[vessel_traj_gdf.velocity >= 40].index)))]\
                                      .drop_duplicates(subset=['mmsi', 'timestamp_sec'])

sub_traj_of_interest.head(7).style.apply(lambda l: helper.highlight_outliers(l, curr_pts), axis=1)

### Visualize Example Using ST_Visions

In [ ]:
tmp = sub_traj_of_interest.copy()
tmp.loc[:, 'cat'] = (tmp.loc[:, 'velocity'] >= 40).astype(str)
tmp_traj = viz_helper.create_linestring_from_points(tmp, 'mmsi')


st_viz = st_visualizer.st_visualizer()
st_viz.set_data(tmp)

st_viz.create_canvas(title=f'Spatial Outliers', sizing_mode='scale_width', plot_width=540, plot_height=150)
st_viz.add_map_tile('CARTODBPOSITRON')

st_viz.add_categorical_colormap(palette=bokeh_palettes.Category10_3, categorical_name='cat')
circ = st_viz.add_glyph(glyph_type='circle', size=10, color=st_viz.cmap, alpha=0.8, fill_alpha=0.7, muted_alpha=0, legend_group=f'cat')

tooltips = [('Vessel ID','@mmsi'), ('Timestamp','@timestamp_sec'), ('Speed (knots)','@velocity'),('Course over Ground (degrees)','@course'), ('Heading (degrees)','@heading'), ('Coordinates','(@lon, @lat)')]
st_viz.add_hover_tooltips(tooltips)
st_viz.add_lasso_select()


st_viz_trajectories = st_visualizer.st_visualizer()
st_viz_trajectories.set_data(tmp_traj)
st_viz_trajectories.set_figure(st_viz.figure)

st_viz_trajectories.create_source()
st_viz_trajectories.add_line(line_color='skyblue', line_width=3, alpha=0.5)

st_viz_trajectories.renderers[0].level = 'underlay'
st_viz_trajectories.show_figures(notebook=True, sizing_mode='stretch_width', notebook_url='http://localhost:8888')

### Now let's Remove the Outliers...

In [13]:
df_new = df.loc[df.velocity < 40].copy()

In [14]:
df_new

,timestamp,mmsi,lon,lat,heading,speed,course,timestamp_sec,velocity,bearing,acceleration,geom
0,1533081601000,240806000,23.668622,37.938845,297.0,0.0,0.1,1.533082e+09,0.008141,180.000000,0.000035,POINT (23.66862 37.93885)
1,1533081601000,319327000,23.680805,37.930570,71.0,0.0,57.8,1.533082e+09,0.090061,180.000000,-0.042026,POINT (23.68080 37.93057)
2,1533081601000,239864200,23.614895,37.944807,NaN,0.0,257.5,1.533082e+09,0.103812,189.183093,0.002516,POINT (23.61490 37.94481)
3,1533081601000,240370000,23.667983,37.937883,251.0,0.0,335.0,1.533082e+09,0.000000,0.000000,-0.051463,POINT (23.66798 37.93788)
4,1533081602000,305213000,23.536395,37.897468,345.0,0.1,95.1,1.533082e+09,0.678284,159.129855,0.055412,POINT (23.53639 37.89747)
...,...,...,...,...,...,...,...,...,...,...,...,...
3310076,1533686379000,241420000,23.639235,37.946098,36.0,0.1,286.0,1.533686e+09,0.000000,0.000000,-0.005098,POINT (23.63923 37.94610)
3310077,1533686379000,240025700,23.551497,37.954000,94.0,0.0,180.0,1.533686e+09,0.000000,0.000000,0.000000,POINT (23.55150 37.95400)
3310078,1533686379000,237008100,23.641363,37.944708,NaN,0.0,NaN,1.533686e+09,0.279001,55.499580,-0.044946,POINT (23.64136 37.94471)
3310079,1533686383000,237008100,23.641368,37.944712,NaN,0.0,NaN,1.533686e+09,0.458783,44.127244,0.114375,POINT (23.64137 37.94471)
3310080,1533686386000,237008100,23.641373,37.944717,NaN,0.0,NaN,1.533686e+09,0.115660,71.034884,0.002988,POINT (23.64137 37.94472)

In [15]:
df_new.mmsi.nunique()

698

### Saving the Dataset

In [16]:
df_new.drop(df_new.geometry.name, axis=1).to_csv('./ais_dataset_clean.csv', header=True, index=False)

# <center>Data processing and analytics</center>

## 3.1

### Importing libraries

In [4]:
import importlib
importlib.reload(helper)
importlib.reload(viz_helper)

### Loading Datasets

### Loading from csv files

In [64]:
df = pd.read_csv(r'C:\Users\Konstantinos\Jupyter Notebook\ais_dataset_clean.csv', sep=',')
df.sort_values('timestamp', inplace=True)
df = helper.getGeoDataFrame_v2(df, crs='epsg:4326')

In [65]:
attica_points = pd.read_csv(r'C:\Users\Konstantinos\Jupyter Notebook\attica_points_clean.csv', sep=',')
attica_points = helper.getGeoDataFrame_v2(attica_points, crs='epsg:4326')

In [66]:
salamina_points = pd.read_csv(r'C:\Users\Konstantinos\Jupyter Notebook\salamina_points_clean.csv', sep=',')
salamina_points = helper.getGeoDataFrame_v2(salamina_points, crs='epsg:4326')

In [67]:
aegina_points = pd.read_csv(r'C:\Users\Konstantinos\Jupyter Notebook\aegina_points_clean.csv', sep=',')
aegina_points = helper.getGeoDataFrame_v2(aegina_points, crs='epsg:4326')

In [68]:
agistri_points = pd.read_csv(r'C:\Users\Konstantinos\Jupyter Notebook\agistri_points_clean.csv', sep=',')
agistri_points = helper.getGeoDataFrame_v2(agistri_points, crs='epsg:4326')

### Loading from postgres tables

In [38]:
import psycopg2
import psycopg2.extras
con = psycopg2.connect(database="database_GIS", user="postgres", password="polifolio68", host="localhost", port=5432)

# fetching ais_dataset
ais_dataset = "SELECT * FROM ais_dataset;"
df = gpd.GeoDataFrame.from_postgis(ais_dataset, con, geom_col="point")

# fetching ais_routes
# df_routes = "SELECT * FROM ais_routes;"
# gdf_routes = gpd.GeoDataFrame.from_postgis(df_routes, con, geom_col="routes")

# fetching attica_points
attica_coordinates = "SELECT * FROM attica_points;"
attica_points = gpd.GeoDataFrame.from_postgis(attica_coordinates, con, geom_col="geom")

# fetching salamina_points
salamina_coordinates = "SELECT * FROM salamina_points;"
salamina_points = gpd.GeoDataFrame.from_postgis(salamina_coordinates, con, geom_col="geom")

# fetching aegina_points
aegina_coordinates = "SELECT * FROM aegina_points;"
aegina_points = gpd.GeoDataFrame.from_postgis(aegina_coordinates, con, geom_col="geom")

# fetching agistri_points
agistri_coordinates = "SELECT * FROM agistri_points;"
agistri_points = gpd.GeoDataFrame.from_postgis(agistri_coordinates, con, geom_col="geom")


con.close()

In [69]:
#Concatenate coordinates
frames = [attica_points, salamina_points, aegina_points, agistri_points]
regions_points = pd.concat(frames)

In [70]:
regions_points = regions_points.drop(regions_points.id.name, axis=1)
#regions_points.reset_index()

#Adding 'id' column to dataframe
regions_points.loc[:, 'id'] = regions_points.index

In [29]:
regions_points

          lon        lat                       geom  id
0   23.180479  37.952114  POINT (23.18048 37.95211)   0
1   23.181643  37.952396  POINT (23.18164 37.95240)   1
2   23.184991  37.951969  POINT (23.18499 37.95197)   2
3   23.186074  37.952530  POINT (23.18607 37.95253)   3
4   23.197402  37.954173  POINT (23.19740 37.95417)   4
..        ...        ...                        ...  ..
57  23.327241  37.675368  POINT (23.32724 37.67537)  57
58  23.327869  37.674866  POINT (23.32787 37.67487)  58
59  23.328561  37.674808  POINT (23.32856 37.67481)  59
60  23.331396  37.674246  POINT (23.33140 37.67425)  60
61  23.332637  37.674114  POINT (23.33264 37.67411)  61

[690 rows x 4 columns]

### Visualize Raw Points, along with Attica's outline, on the map

In [ ]:
st_viz = st_visualizer.st_visualizer()
st_viz.set_data(df.iloc[:3000, :].copy())
viz_express.plot_points_on_map(st_viz, tools=['lasso_select'])


regions_points_viz = st_visualizer.st_visualizer()
regions_points_viz.set_data(regions_points.copy())
regions_points_viz.set_figure(st_viz.figure)
regions_points_viz.create_source()
regions_points_viz.add_glyph(glyph_type='circle', size=10, color='crimson', alpha=0.8, fill_alpha=0.7, muted_alpha=0, legend_label='Regions\' outline points')


st_viz.show_figures(notebook=True, notebook_url='http://localhost:8889')

### Buffering outline points' Geometry to aproximate their original (Polygon) Geometry

In [71]:
#Radius = 0.5km
regions_points.geometry = regions_points.geometry.to_crs(epsg=2100).buffer(500).to_crs(epsg=4326)

### Visualizing Result

In [ ]:
st_viz = st_visualizer.st_visualizer()
st_viz.set_data(df.iloc[:3000, :].copy())
viz_express.plot_points_on_map(st_viz, tools=['lasso_select'])


regions_points_viz = st_visualizer.st_visualizer()
regions_points_viz.set_data(regions_points.copy())
regions_points_viz.set_figure(st_viz.figure)
regions_points_viz.create_source()
regions_points_viz.add_polygon(fill_color='crimson', line_color='crimson', legend_label='Regions\' outline points')


st_viz.show_figures(notebook=True, notebook_url='http://localhost:8889')

### Classifying trajectories based on land proximity and velocity

In [72]:
%%time
#Create spatial index on Raw Points
sindex = df.sindex
#sindex = df.geom.sindex

Wall time: 3min 54s

In [73]:
%%time
#Find the points that intersect with each subpolygon and add them to points_within_geometry
points_within_geometry = pd.DataFrame()

for poly in regions_points.geometry:
    #Find approximate matches with r-tree
    possible_matches_index = list(sindex.intersection(poly.bounds))
    possible_matches = df.iloc[possible_matches_index]
    #Then intersect with the actual geometry in order to get the precise matches
    precise_matches = possible_matches[possible_matches.intersects(poly)]
    points_within_geometry = points_within_geometry.append(precise_matches)
    
points_within_geometry = points_within_geometry.drop_duplicates(subset=['mmsi','timestamp'])
stationary_points_within_geometry = points_within_geometry.loc[points_within_geometry['velocity'] < 1.000000].copy()

Wall time: 24min 25s

In [74]:
df.loc[:, 'traj_id'] = 0
df.loc[stationary_points_within_geometry.index, 'traj_id'] = -1

In [ ]:
stationary_points_within_geometry

In [ ]:
points_within_geometry

### Visualizing Result

In [ ]:
tmp = df.iloc[:3000, :].copy()
tmp.traj_id = tmp.traj_id.apply(str)


st_viz = st_visualizer.st_visualizer()
st_viz.set_data(tmp.copy())
st_viz.create_canvas('Prototype Plot')

cmap = st_viz.add_categorical_colormap(('crimson','royalblue'), 'traj_id')
st_viz.add_glyph(color=cmap, legend_label='Regions\' outline points')
st_viz.add_map_tile(provider='CARTODBPOSITRON')


regions_points_viz = st_visualizer.st_visualizer()
regions_points_viz.set_data(regions_points.copy())
regions_points_viz.set_figure(st_viz.figure)
regions_points_viz.create_source()
regions_points_viz.add_polygon(fill_color=None, line_color='crimson', legend_label='Regions\' outline points')


st_viz.show_figures(notebook=True, notebook_url='http://localhost:8889')

### Fixing Trajectories' Label

In [116]:
df = helper.create_trajectories(df)

### From this point onward we'll focus on a single object, without loss of generality.

In [86]:
df.groupby(['mmsi']).mean()

,timestamp,lon,lat,heading,speed,course,timestamp_sec,velocity,bearing,acceleration,traj_id,label
mmsi,,,,,,,,,,,,
201100152,1.533299e+12,23.551511,37.940764,NaN,5.026128,123.947895,1.533299e+09,5.071104,131.484013,0.004089,0.000000,0.000000
201100182,1.533299e+12,23.516615,37.913168,NaN,6.758721,127.036773,1.533299e+09,6.737374,126.183349,0.002731,-0.001453,-0.001453
205339310,1.533196e+12,23.643233,37.926513,NaN,5.400000,183.742857,1.533196e+09,5.437462,186.354599,-0.004437,-0.046512,-0.046512
205519630,1.533414e+12,23.649500,37.934933,NaN,0.786713,141.380000,1.533414e+09,0.794071,170.195586,-0.000191,-0.006993,-0.006993
207137000,1.533434e+12,23.590206,37.894143,174.741078,2.476614,208.829309,1.533434e+09,2.490082,218.698913,0.000323,-0.000759,-0.000759
...,...,...,...,...,...,...,...,...,...,...,...,...
636092530,1.533130e+12,23.609716,37.880522,184.559361,9.483790,163.990868,1.533130e+09,9.636331,158.854464,0.009524,-0.022831,-0.022831
636092572,1.533369e+12,23.590937,37.875598,179.783729,5.908881,177.708475,1.533369e+09,5.956544,174.070033,0.001556,-0.003390,-0.003390
642122018,1.533383e+12,23.521470,37.869285,77.781947,0.108507,179.273328,1.533383e+09,0.084344,177.574387,0.000008,0.000000,0.000000
642167061,1.533335e+12,23.587249,37.834346,281.104478,12.964179,280.288557,1.533335e+09,12.942367,280.018472,0.004251,0.000000,0.000000
677040700,1.533198e+12,23.572313,37.918328,NaN,3.099565,198.329504,1.533198e+09,3.114936,177.379888,0.001894,-0.000870,-0.000870

In [91]:
df_single = df.loc[df.mmsi == 237096700].copy()

##It doesn't work
###677040700
#237562900
#201100152
###576082000
#642167061

#It works!
######201100182#####4,18
#####205519630
######237096700#####6,10


df_single.sort_values('timestamp', inplace=True)
df_single.reset_index(inplace=True, drop=True)

df_single = helper.fix_trajectories(df_single.copy())

(Initial) Number of segments: 9
(Final-Useful) Number of port-based segments produced: 6

### Visualize Example

In [ ]:
tmp = df_single.copy()
tmp.traj_id = tmp.traj_id.apply(str)


st_viz = st_visualizer.st_visualizer()
st_viz.set_data(tmp.copy())
st_viz.create_canvas('Prototype Plot')

cmap = st_viz.add_categorical_colormap('Category10', 'traj_id')
st_viz.add_glyph(color=cmap, legend_label='Regions\' outline points')
st_viz.add_map_tile(provider='CARTODBPOSITRON')
st_viz.add_hover_tooltips([('mmsi', '@mmsi'), ('traj_id', '@traj_id'), ('timestamp', '@timestamp')])


regions_points_viz = st_visualizer.st_visualizer()
regions_points_viz.set_data(regions_points.copy())
regions_points_viz.set_figure(st_viz.figure)
regions_points_viz.create_source()
regions_points_viz.add_polygon(fill_color=None, line_color='crimson', legend_label='Regions\' outline points')


st_viz.show_figures(notebook=True, notebook_url='http://localhost:8889')

### Temporal Segmentation

In [92]:
df_single.sort_values('timestamp', inplace=True)

df_single2 = df_single.copy()
df_single2.loc[:, 'timestamp'] = df_single2.timestamp / 10**3

df_single2 = helper.temporal_segmentation(df_single2)

(Initial) Number of port-based segments: 6
(Intermediate) Number of temporal-gap-based segments: 11
(Final-Useful) Number of trips produced: 10

In [ ]:
tmp = df_single2.copy()
tmp.trip_id = tmp.trip_id.apply(str)
tmp.loc[:, 'date'] = pd.to_datetime(tmp.timestamp, unit='s').astype(str)


st_viz = st_visualizer.st_visualizer()
st_viz.set_data(tmp.copy())
st_viz.create_canvas('Prototype Plot')

cmap = st_viz.add_categorical_colormap('Category20', 'trip_id')
st_viz.add_glyph(color=cmap, legend_label='Regions\' outline points')
st_viz.add_map_tile(provider='CARTODBPOSITRON')
st_viz.add_hover_tooltips([('mmsi', '@mmsi'), ('trip_id', '@trip_id'), ('timestamp', '@timestamp'), ('datetime', '@date')])


regions_points_viz = st_visualizer.st_visualizer()
regions_points_viz.set_data(regions_points.copy())
regions_points_viz.set_figure(st_viz.figure)
regions_points_viz.create_source()
regions_points_viz.add_polygon(fill_color=None, line_color='crimson', legend_label='Regions\' outline points')


st_viz.show_figures(notebook=True, notebook_url='http://localhost:8889')

## 3.3

### Temporal Resampling

In [124]:
#df.resample()

#df.resample('2s')

#df.resample('5')

#df.resample(freq='T')
#df.resample(freq='A')
#df.resample('2012-01-01', freq='A', periods=2)
#df.resample('2012-01-01')
#df.resample("A")
#df.resample('D')


#df.resample('3T').sum()

#Upsample the series into 30 second bins
#df.resample('30S').asfreq()[0:5]
#df.resample('2min').sum()



#df_resampled = df.set_index('timestamp').resample('2s').pad()


#df_resampled = df.resample('D', on='timestamp').mean()
#print (df_resampled)


#df.resample(pd.offsets.Second(10), on='timestamp')


df.index = pd.to_datetime(df.index, unit='s')
df_resampled = df.resample('2min').sum()

In [ ]:
df_resampled

### Temporal Alignment

In [96]:
features = df_single2.drop(['index','geom'], axis=1).columns

df_single2_align = df_single2.groupby(['mmsi','trip_id'], as_index=False).apply(lambda l: helper.temporal_alignment_v2(l, rate=1, method='linear', features=features, temporal_axis_name='datetime', temporal_name='timestamp', temporal_unit='s')).reset_index(drop=True)

### How many trips were lost?

In [97]:
len( df_single2.groupby(['mmsi','trip_id']).groups)

10

In [98]:
len( df_single2_align.groupby(['mmsi','trip_id']).groups)

10

### Visualize Result

In [ ]:
st_viz = st_visualizer.st_visualizer()
st_viz.set_data(df_single2.copy())
st_viz.create_canvas('Prototype Plot')
st_viz.add_glyph(color='royalblue', legend_label='Non-Aligned Points')
st_viz.add_map_tile(provider='CARTODBPOSITRON')

points_align = st_visualizer.st_visualizer()
points_align.set_data(df_single2_align.copy())
points_align.set_figure(st_viz.figure)
points_align.create_source()
points_align.add_glyph(color='orangered', legend_label='Aligned Points')

st_viz.figure.legend.click_policy = 'mute'
st_viz.show_figures(notebook=True, notebook_url='http://localhost:8889')

<center>
<h1> Γεωγραφικά Πληροφοριακά Συστήματα </h1>

<h2> Εργαστηριακή Διάλεξη Mobility Data Analytics (MDA) III </h2>

    Τμήμα Πληροφορικής, Πανεπιστήμιο Πειραιώς,
    Data Science Lab. (datastories.org)
    
    Βοηθοί Εργαστηρίου
<br>

    Τριτσαρώλης Ανδρέας              Κοντούλης Ιωάννης
       andrewt@unipi.gr              ikontoulis@unipi.gr

<br><br>
    
<img src="res/logo-datastories2.png" alt="drawing" align="right"/>
    
<img src="res/University-of-Piraeus-Logo.png" alt="drawing"  align="left"/>

# Outline

* Hotpoints

  * What are hotpoints
  * Data preparation
  * Recommended Algorithms and execution
    
    
* Collective Movement

  * What is a collective movement
  * Why is it used
 
 
* Evovling Clusters

  * Why evolving clusters
  * Data prep
  * Algorithm explanation

# Hotpoints

## What are Hotpoints

Hotpoints are clusters of points that form at a specific place on the map. In Maritime data, for example, we expect hotpoints to form at places where a lot of vessels either pass through a lot (for example at the entrance of a bay, shown in <font color='red'>red</font>) or reside for extended periods of time (i.e. in a port, shown in <font color='blue'>blue</font> or a possible fishing hotspot).

<img src="res/portp.png" alt="drawing" width="500" align='center'/>

In [19]:
import importlib
importlib.reload(helper)
importlib.reload(viz_helper)

## Data Preparation

### Import libraries

In [21]:
sys.path.append(os.path.join(os.path.expanduser('~'), 'Documents', 'DataStories-UniPi', 'EvolvingClusters'))
from EvolvingClustersKDT import evolving_clusters

ModuleNotFoundError: No module named 'EvolvingClustersKDT'

### Fetch the appropriate data. Read a csv using pandas

In [ ]:
df = pd.read_csv('gis_labs_ais_brest_sample_60K.csv')

In [ ]:
df.head()

### We need 2 columns to procceed with hotpoint mining, __Latitude__ and __Longitude__

In [ ]:
df[['lat', 'lon']].head()

### Let's plot our data on a map.

### We first need to transform our Pandas DataFrame to Geopandas __GeoDataFrame__

### Then we can vizualize our set of coordinates

We create a 'geom' column that will contain the shapely Point object that we need. Then we will create a GeoDataFrame, specifing that the 'geom' column is the used geometry

In [ ]:
gdf = helper.getGeoDataFrame_v2(df, crs='epsg:4326')

In [ ]:
st_viz = st_visualizer.st_visualizer()
st_viz.set_data(gdf)

viz_express.plot_points_on_map(st_viz)
st_viz.show_figures(notebook=True, notebook_url='http://localhost:8890')

### Haversine Formula 

The Haversine formula is perhaps the first equation to consider when understanding how to calculate distances on a sphere. The word "Haversine" comes from the function:

>haversine(θ) = sin²(θ/2)

 

The following equation where φ is latitude, λ is longitude, R is earth’s radius (mean radius = 6,371km) is how we translate the above formula to include latitude and longitude coordinates. Note that angles need to be in __radians__ to pass to trig functions:

>a = sin²(φB - φA/2) + cos φA * cos φB * sin²(λB - λA/2)

>c = 2 * atan2( √a, √(1−a) )

>d = R ⋅ c

#### The haversine implementation that is part of sklearn clustering algorithms that we will use (DBSCAN and OPTICS) need radians as input. We will use numpy to convert our coordinates to radians

In [ ]:
X = np.radians(gdf[['lat', 'lon']])

## Recommended Algorithms and execution

### DBSCAN

It's a density-based clustering algorithm


Density associated with a point is obtained by counting the number of points in a region of specified radius ϵ around each point



* points with density ⩾ __min_pts__ are considered as "core points"
* noise and non-core points are discarded
* clusters are formed around the core points
* if two core points are within a radius ϵ, then they belong to the same cluster


<img src="res/dbscan.png" alt="drawing" width="300" align='center'/>

In [ ]:
from sklearn.cluster import DBSCAN

### The DBSCAN algorithm is available from the scikit-learn library.

The parameters that we'll use are:

The maximum distance between two samples for one to be considered as in the neighborhood of the other -> __1 Kilometer__ in distance 

The number of samples (or total weight) in a neighborhood for a point to be considered as a core point. This includes the point itself -> __One 50th__ of the sample size.

The algorithm to be used by the NearestNeighbors module to compute pointwise distances and find nearest neighbors -> __Ball Tree__

Metric -> __Haversine__ (as discussed above)

In [ ]:
db = DBSCAN(eps=1/6371., min_samples=len(gdf)//50, algorithm='ball_tree', metric='haversine').fit(X)

We print all unique clusters labels. Points clustered as -1 are considered __noise__

In [ ]:
set(db.labels_)

We also compute and print the cluster centers

In [ ]:
helper.get_clusters_centers(X, db.labels_)

And lastly, we will plot the results.

In [ ]:
tmp = gdf.copy()
tmp.loc[:, 'cluster_labels'] = db.labels_
tmp.cluster_labels = tmp.cluster_labels.apply(str)


points = st_visualizer.st_visualizer()
points.set_data(tmp.copy())
points.create_canvas('Prototype Plot')

cmap = points.add_categorical_colormap('Category10', 'cluster_labels')
points.add_glyph(color=cmap, legend_group='cluster_labels')
points.add_map_tile(provider='CARTODBPOSITRON')
points.add_hover_tooltips([('mmsi', '@mmsi'), ('traj_id', '@traj_id'), ('timestamp', '@timestamp')])

points.show_figures(notebook=True, notebook_url='http://localhost:8889')

### OPTICS
OPTICS Clustering stands for Ordering Points To Identify Cluster Structure. It draws inspiration from the DBSCAN clustering algorithm. It adds two more terms to the concepts of DBSCAN clustering. They are:

* Core Distance: It is the minimum value of radius required to classify a given point as a core point. If the given point is not a Core point, then it’s Core Distance is undefined.

<img src="res/core_distance.png" alt="drawing" width="500" align='center'/>

* Reachability Distance: It is defined with respect to another data point q(Let). The Reachability distance between a point p and q is the maximum of the Core Distance of p and the Euclidean Distance(or some other distance metric) between p and q. Note that The Reachability Distance is not defined if q is not a Core point.

<img src="res/reachability_distance1.png" alt="drawing" width="500" align='center'/>

In [ ]:
from sklearn.cluster import OPTICS

### The OPTICS algorithm is also available from the scikit-learn library.

The parameters that we'll use are:

The maximum distance between two samples for one to be considered as in the neighborhood of the other -> __1 Kilometer__ in distance.

The number of samples in a neighborhood for a point to be considered as a core point -> __One 50th__ of the sample size.

Metric -> __Haversine__ (as discussed above)

In [ ]:
optics = OPTICS(max_eps=1/6371, min_samples=len(gdf)//50, metric='haversine').fit(X)

We print all unique clusters labels. Points clustered as -1 are considered __noise__

In [ ]:
set(optics.labels_)

We also compute and print the cluster centers

In [ ]:
helper.get_clusters_centers(X, optics.labels_)

And lastly, we will plot the results.

In [ ]:
tmp = gdf.copy()
tmp.loc[:, 'cluster_labels'] = optics.labels_
tmp.cluster_labels = tmp.cluster_labels.apply(str)


points = st_visualizer.st_visualizer()
points.set_data(tmp.copy())
points.create_canvas('Prototype Plot')

cmap = points.add_categorical_colormap('Category10', 'cluster_labels')
points.add_glyph(color=cmap, legend_group='cluster_labels')
points.add_map_tile(provider='CARTODBPOSITRON')
points.add_hover_tooltips([('mmsi', '@mmsi'), ('traj_id', '@traj_id'), ('timestamp', '@timestamp')])

points.show_figures(notebook=True, notebook_url='http://localhost:8888')

# Collective Movement

## What is a collective movement

### Informal Definition

An informal collective movement definition could be: "a large enough amount of objects moving along
paths close to each other for a certain time". These objects could vary from animals (e.g.
wolves, birds, lions, etc.) to human transportation means (e.g. cars, airplanes and vessels).
Discovering these patterns can give us an insight regarding the behavior of these moving objects,
for instance on hunting (wolves, lions), migration (birds), traffic monitoring (cars) and fishing
pressure (fishing vessels).

<img src="res/gps.png" alt="drawing" width="1000" align='center'/>

Multiple types of collective movement patterns have been introduced, including:
* Flocks
* Convoys
* Swarms
* Evolving Clusters

## Why is it used

A collective movement can be of use to geospatial researchers and industry proffesionals because it is
able to model a phenomenon that can be used to mine a lot of valuable information from multiple "angles".

For example, in the maritime domain, illegal transshipments between two or more veseels can be very easily detected by a collective movement mining algorithm. An illegal transshipment is definded as the illegal exchange of goods between vessels at sea. If a collective movement pattern is systematically being mined under dubious circumstances, an official can use the knowledge base generated by the algorithm in order to detect any malicious activity (including illegal trashippments). 

Another useful way of interpreting the results of a collective movement mining algorithm is using them as a profiler that can clusters multiple objects into groups that have a lot of similarities based on their movement. That knowledge, in turn, can be used to compress a given dataset or to cluster new object that may appear in order to analyze and predict their behaviour.

# Evovling Clusters

## Why evolving clusters

EvolvingClusters is used to discover collective movement behaviour (like flocks and convoys) by monitoring the activity of multiple clusters through time and space.

## Formal Definition

Given: a set T of moving objects, where the trajectory of
each object consists of r pairs (pi, ti), a minimum cardinality threshold c, a maximum distance
threshold θ, and a minimum time duration threshold d, an Evolving Cluster (C, tstart, tend, tpi)
is a subset C ε T of the moving objects population, |C| >= c, which appeared at time point tstart
and remained alive until time point tend (with tendtstart >= d) during the lifetime (tstart, tend) of
which the participating moving objects were spatially connected with respect to distance θ and
cluster type tp.

## Algorithm explanation

Algorithm 1 presents the algorithms corpus. In particular it discovers evolving clusters in a
trajectory dataset D, where moving objects' locations arrive at predefined timepoints (e.g.
every 60 sec.) or, in other words, at a xed (and aligned amongst all objects) sampling rate.
In the following paragraphs we provide a thorough explanation regarding its operation.
Algorithm 1 is responsible of using the results provided by Algorithm 3 in a sequential manner.
Essentially Algorithm 1 uses the results of Algorithm 2 and decides if the available data in
the form of ActiveP atterns (patterns previously mined) and CurrentClusters (clusters formed
based on the location of moving objects at the current time-slice) are eligible to be used as input
to Algorithm 3. If not (either set is empty), the algorithm either moves the clusters currently
active to the ActiveP atterns set (if ActiveP atterns = ;) or moves all the patterns that satisfy
the thresholds given from ActiveP atterns to ClosedP atterns (if CurrentClusters = ;).
Algorithm 3 takes all the following cases into consideration: (for pattern Cti at time ti and
Cti+1 at time ti+1)

1. The patterns are identical (Cti = Cti+1)
2. The patterns have no common objects (intersection(Cti, Cti+1) is empty)
3. The pattern Cti is a subset of Cti+1 (Cti < Cti+1)
4. The pattern Cti+1 is a subset of Cti (Cti+1 < Cti)
5. The patterns contain some common objects (intersection(Cti, Cti+1) is not empty , intersection(Cti, Cti+1) < Cti, Cti+1)

Therefore, the algorithm operates as follows:
* For every pair of consecutive (with respect to time) pattens, if the cardinality of their
intersection is greater than c, add it to the ActiveP atterns set (lines: 4{7).
* For every pattern in Cti+1, if the list of its intersections with all of the patterns in Cti
doesn't contain the pattern, add it to the ActiveP atterns set as a new pattern (lines:
8{9).
* For every pattern in Cti , if it is not part of the ActiveP atterns set, add it to the
InactiveP atterns set (line: 11).
* Replace each group of duplicate patterns in the ActiveP atterns set, with a single record
of each pattern and substitute its starting and ending timestamps with the oldest starting
and newest ending timestamps available in the duplicate group (lines: 12{17).

We observe that in all cases the pattern that ought to be maintained through time is the
intersection of Cti and Cti+1. Cases 2 and 3 require some extra attention. Regarding case 2,
the intersection is an empty set. As a result, Cti+1 should be maintained and added to the
ActiveP atterns set. Case 3 dictates that both the new superset and the previous

<img src="res/algo1.png" alt="drawing" width="800" align='left'/>

<img src="res/algo2.png" alt="drawing" width="800" align='left'/>

<img src="res/algo3.png" alt="drawing" width="800" align='left'/>

##  Data prep

The dataset that will be mined by EvolvingClusters needs to:
* Contain columns 'lat', 'lon' and 'datetime'.
* Be uniformly sampled with respect to time __and__ time aligned.

In [ ]:
df1 = pd.read_csv('gis_labs_ais_brest_sample_60K_aligned.csv')

In [ ]:
len(df1.groupby('datetime').groups)

## Execution

In [ ]:
[res_mcs, res_mc] = evolving_clusters(df1, distance_threshold=1500, min_cardinality=5, time_threshold=5, disable_progress_bar=False)

In [ ]:
for row in res_mcs.itertuples():
    print(row)

In [ ]:
cluster = res_mcs.iloc[4]

In [ ]:
df1.loc[:, 'datetime'] = pd.to_datetime(df1.datetime)

In [ ]:
tmp = df1.loc[(df1.mmsi.isin(cluster.clusters)) & (df1.datetime.between(cluster.st, cluster.et, inclusive=True))].copy()
tmp.loc[:, 'mmsi'] = tmp.mmsi.apply(str)

In [ ]:
points = st_visualizer.st_visualizer()
points.set_data(tmp.copy())
points.create_canvas('Prototype Plot')

# points.add_temporal_filter(step_ms=60*10**3)

points.add_numerical_filter(filter_mode='<=', numeric_name='ts', step=60, callback_policy='value')

cmap = points.add_categorical_colormap('Category10', 'mmsi')
points.add_glyph(color=cmap, legend_group='mmsi')
points.add_map_tile(provider='CARTODBPOSITRON')
points.add_hover_tooltips([('mmsi', '@mmsi'), ('traj_id', '@traj_id'), ('timestamp', '@timestamp')])

points.show_figures(notebook=True, notebook_url='http://localhost:8888')